body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.book {
    min-width: 700px;
    max-width: 700px;
    min-height: 530px;
    box-shadow: 5px 4px 5px 4px rgb(206, 199, 199);
}
.titles {
    text-shadow: 2px 2px 2px red;
}
.newButton {
    background-color: aliceblue;
    box-shadow: 4px 4px 4px red;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition-duration: 0.2s;
    cursor: pointer;
    border-radius: 5px;
}

.newButton:hover {
    background-color: rgb(212, 176, 176);
}

.car {
    height: 234px;
}

.boy {
    height: 250px;
}

.girl {
    height: 250px;
}

.city {
    height: 250px;
}

.magic {
    font-family: fantasy;
    font-size: 25px;
    text-shadow: 2px 2px 2px rgb(224, 219, 185);
}

.ourStory {
    text-align: left;
    font-size: 13px;
    text-indent: 50px;
    line-height: 2.8;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 20px;
    margin-left: 20px;
}



#narrator {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(134, 6, 6, 0.2);
    overflow: hidden;
}




.options {
    display: grid;
    grid-template-columns: 100px auto;
    gap: 10px;
    padding: 10px 0;
    color: white;
}

#voice, option {
    color: black;
}



